.card{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.5s ease;
}
.card.flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
.front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* background: linear-gradient(135deg, #f4a6c3, #ffdab9); Soft Pink to Light Apricot Gradient: */
    background: linear-gradient(135deg, #b7a1c4, #f3e5ab);  /*  Dusty Lavender to Vanilla Gradient: */
    /* background: linear-gradient(135deg, #f5b7b1, #fffacd); Rose Quartz to Buttercream Gradient: */
    /* background: linear-gradient(135deg, #c8a2c8, #fff4e0); Lilac to Cream Gradient: */
    /* background: linear-gradient(135deg, #b184a7, #ffdab9); Mauve to Soft Peach Gradient: */
    color: black;
    text-align: center;
    -webkit-box-shadow: 12px 12px 25px 5px rgba(0,0,0,0.4); 
    box-shadow: 12px 12px 25px 5px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
.front h2{
    letter-spacing: 1px;
	 color: #051622;
	 font-weight: 500;
	 text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
     font-size: 2rem; 
}
.buttons{
    width: 50%;
    height: 20%;
    background: none;
    text-transform: uppercase;
	 letter-spacing: 1px;
	 cursor: pointer;
     justify-content: center;
     align-items: center;
	 border: solid 2px #051622;
	 color: #051622;
	 border-radius: 15px;
	 text-align: center;
	 transition: 0.3s ease-in-out;
     font-family: 'Cormorant Garamond';
    font-weight: bold;
    backface-visibility: hidden;
}
.buttons:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    text-shadow: none;
}
.back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: linear-gradient(135deg, #b7a1c4, #f3e5ab);
    color: white;
    text-align: center;
    transform: rotateY(180deg);
    -webkit-box-shadow: 12px 12px 25px 5px rgba(0,0,0,0.4); 
    box-shadow: 12px 12px 25px 5px rgba(0,0,0,0.4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flipCard{
    transform: rotateY(180deg);
    transition: all 1,5s ease;
}
#links{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2em;
    align-items: center;
    margin-top: 5px;
}
#links i{
font-size: 2rem;
color: #051622;
}
#place-for-button{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#place-for-button button{
width: 40%;
height: 80%;
}
#text{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#text p{
    margin: 10px;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    align-items: flex-start;
    color: #051622;
    padding: 5px;
    letter-spacing: 0.8px;
    font-size: 1.2em;
}
#text p::-webkit-scrollbar{
    width: 10px;
    overflow-y: auto;
    margin-left: 5px;
}
#text p::-webkit-scrollbar-track{
    border-radius: 10px;
}
#text p::-webkit-scrollbar-thumb{
    background-color: #051622;
    border-radius: 10px;
    height: 20px;
}