@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Signika:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
header{
    width: 100vw;
    height: 10vh;
    background-color: #051622;  
    display: flex;
} 
nav{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-shadow: 1px 1px 2px black;
}
#left-part-logo{
    width: 50%;
    height: 100%;
    color: #F5CB86;
    display: flex;
    align-items: center;
    margin-left: 5%;
    justify-content: space-around;
    font-size: 3rem;
}

#right-part-menu{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1.3rem;
}
h2{
color: #F5CB86;
font-family: 'Cormorant Garamond';
font-style: italic;
}

nav a{
    color: #F5CB86;
    position: relative;
    font-size: 20px;
    text-decoration: none;
  
}
nav a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #F5CB86;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
a:hover:before{
    transform-origin: left;
    transform: scaleX(1);
}

main{
    width: 100vw;
    height: 90vh;
    background-color: #051622;
    overflow-y: scroll;
    overflow-x: hidden;
}
main::-webkit-scrollbar{
    width: 10px;
    overflow-y: auto;
}
main::-webkit-scrollbar-track{
    border-radius: 10px;
}
    main::-webkit-scrollbar-thumb{
    background-color: #F5CB86;
    border-radius: 10px;
    height: 20px;
}
#landing-page {
    display:  flex;
    width: 100%;
    height: 100%;;
    flex-wrap: wrap;
    justify-content: center;
}
#photo-on-the-left {
    width: 40%;
    height: 70%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    }
#photo-on-the-left img {
    width: 400px;
    height: 550px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
#text-on-the-right {
    width: 40%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
} 
#text1 {
    width: 50%;
    height: 30%;
    text-shadow: 1px 1px 2px black;
}
#text2 {
    width: 60%;
    height: 50%;
    text-shadow: 1px 1px 2px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#text-on-the-right h3 {
    font-size:  4rem;
    color: #F5CB86;
    font-family: "Cormorant Garamond";
    margin-bottom: 10px;
    font-style: italic;
}
#text-on-the-right p {
    color: #F5CB86;
    font-family: "Cormorant Garamond";
    font-size: 3rem;
    font-style: italic;
}
#hiddenDiv {
    width: 90%;
    height: 20%;
    background-color: transparent; /* Set the background to transparent */
    border: 1px solid #F5CB86; /* Add a 1px solid border with the desired color */
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: space-evenly;
}

#projects{
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#first-box{
    grid-area: 1 / 2 / 2 / 4;
    width: 80%;
    height: 80%;
    align-self: center;
    justify-self: center;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: solid #F5CB86;
}
#second-box{
    grid-area: 1 / 4 / 2 / 5;
    width: 80%;
    height: 80%;
    justify-self: center;
    align-self: center;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: solid #F5CB86;
}
#third-box{
    grid-area: 1 / 5 / 2 / 7;
    width: 90%;
    height: 80%;
    justify-self: center;
    align-self: center;
    border: solid #F5CB86;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#fourth-box{
    grid-area: 2 / 2 / 3 / 3;
    width: 80%;
    height: 80%;
    justify-self: right;
    align-self: center;
    border: solid #F5CB86;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#fifth-box{
    grid-area: 3 / 2 / 4 / 3;
    width: 80%;
    height: 80%;
    justify-self: right;
    align-self: center;
    border: solid #F5CB86;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#sixth-box{
    grid-area: 2 / 3 / 4 / 5;
    width: 90%;
    height: 90%;
    justify-self: center;
    align-self: center;
    border: solid #F5CB86;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#seventh-box{
    grid-area: 2 / 5 / 3 / 6;
    width: 80%;
    height: 80%;
    justify-self: center;
    align-self: center;
    border: solid #F5CB86;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#eighth-box{
    grid-area: 2 / 6 / 3 / 7;
    width: 80%;
    height: 80%;
    justify-self: center;
    align-self: center;
    border: solid #F5CB86;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#ninth-box{
    grid-area: 3 / 5 / 4 / 7;
    width: 90%;
    height: 80%;
    justify-self: center;
    align-self: center;
    border: solid #F5CB86;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#contact{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#left-part-contact{
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
}
#right-part-social{
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
#Name{
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid;
    border-color: #F5CB86;
}
#contact-title{
    width: 60%;
    height: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 3rem;
    font-family: 'Cormorant Garamond';
}
#contact-title h2{
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-size: 72px;
    text-shadow: 1px 1px 2px black;
}
#contact-fields{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
form{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
form :nth-child(1){
    width: 40%;
    font-size: large;
    
}
form :nth-child(2){
    width: 40%;
    font-size: large;
}
form :nth-child(3){
    width: 50%;
    font-size: large;
    height: 30%;
}
form * {
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid;
    border-color: #F5CB86;
    height: 10%;
}
::placeholder{
    color: #F5CB86;
    opacity: 1;
    font-family: 'Signika';
    font-weight: 200;
}
#Message{
    color: #F5CB86;
    resize: none;
}
input:focus::-webkit-input-placeholder {
	color : transparent;
}
input:focus::-moz-placeholder {
	color : transparent;
}
input:-moz-placeholder {
	color : transparent;
}
input:focus::-webkit-input-placeholder {
	opacity : 0;
}
input:focus::-moz-placeholder {
	opacity : 0;
}
input:-moz-placeholder {
	opacity : 0;
}
textarea:focus::-webkit-input-placeholder {
	color : transparent;
}
textarea:focus::-moz-placeholder {
	color : transparent;
}
textarea:-moz-placeholder {
	color : transparent;
}
textarea:focus::-webkit-input-placeholder {
	opacity : 0;
}
textarea:focus::-moz-placeholder {
	opacity : 0;
}
textarea:-moz-placeholder {
	opacity : 0;
}
#Send{
    color: #F5CB86;
    font-size: large;
    border: 1px solid;
    width: 25%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Signika;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
input, select, textarea {
    color: #F5CB86;
}
.fa-github{
    color: #F5CB86;
    font-size: 5rem;
    cursor: pointer;
}
.fa-image{
    cursor: pointer;
}
.fa-earth-europe{
    cursor: pointer;
}
.fa-brands{
    color: #F5CB86;
    font-size: 4rem;
}
.icons{
    cursor: pointer;
}
#feedback{
    width: 90%;
    height: 35%;
    color: #F5CB86;
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-size: 3rem;
    margin-top: 50px;
}
#icons{
    height: 20%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    width: 100%;
    height: 5%;
    background-color: #051622;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div{
    color: #F5CB86;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer img{
    width: 40px;
}

/* Message Container */
.message-container {
    position: fixed;
    top: 100px;
    right: 100px;
    border: 1px solid #F5CB86;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 20%;
    height: 20%; /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling if messages exceed the height */
    transition: max-height 0.3s ease; /* Add smooth transition for max-height change */
  }

/* Add position: absolute to the header and button */
/* Add this to your CSS */
.message-header {
    height: 30px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    color: #F5CB86;
    align-items: center;
    transition: opacity 0.3s ease; /* Add opacity transition */
  }
  
  /* Hide the text and button when minimized */
  .message-container.minimized .message-header {
    opacity: 0;
  }
  .message-container.minimized {
    max-height: 30px; /* Set a fixed height when minimized */
  }
  

  
  /* Minimize Button */
  .minimize-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    color: #F5CB86;
    border: none;
    padding: 5px 10px; /* Adjust size as needed */
    cursor: pointer;
    font-size: 12px; /* Adjust font size */
  }
  
.minimize-button:hover {
  background-color: transparent;
  border-radius: 5px;
  transform: scale(1.2); /* Scale up the button on hover */
}


/* TECHNOLOGIES CONTAINER */

#showTechnologies{
    width: 30%;
    height: 20%;
    background: none;
    border: 1px solid #F5CB86;
    color: #F5CB86;
    border-radius: 10px;
    margin: 20px;
}
#downloadCV {
    width: 30%;
    height: 20%;
    background: none;
    border: 1px solid #F5CB86;
    color: #F5CB86;
    border-radius: 10px;
    margin: 20px;
}