/js/contact.js
/html-parts.html
/portfolio-backend/your-firebase-admin-key.json
/portfolio-backend/node_modules
/portfolio-backend/.env
/portfolio-backend/news-feed-dnrats-firebase-adminsdk-38m3n-eaf6d797e2.json:Zone.Identifier
/portfolio-backend/Javascript/dashboard_script.js